@model DataManagementSystem.Models.personModel

@{
    ViewBag.Title = "About";
}
<!-- Include Font Awesome icon library -->
<script src="https://kit.fontawesome.com/ce19876732.js" crossorigin="anonymous"></script>
<style>
    /* CSS styles for the background image and page */
    body {
        font-family: Arial, sans-serif;
        background-image: url('../../content/img/insertback.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        padding: 20px;
        text-align:justify;
    }

    /* CSS styles for headings and paragraphs */
    h1 {
        color: #333;
    }

    h2 {
        color: #444;
    }

    p {
        color: #666;
    }
    #jump:hover {
        transition: transform 300ms;
        transform: translateY(-10px);
    }

    /* CSS styles for specific sections */
    #story {
        float: right;
    }
    #body{
        margin-left:10px;   }
</style>
<body id="body">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- Page title -->
            <h1 class="display-1 text-center">About us</h1>
        </header>
        <div class="row my-3" id="first">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 " id="story">
                <!-- Our story section -->
                <h2>Our story</h2>
                <!-- Description of the website and its mission -->
                Welcome to our basketball website! We are passionate about the game of basketball and dedicated to providing basketball enthusiasts with the latest news, insights, and resources.
                <!-- Lorem ipsum placeholder text -->
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam et deserunt quaerat minus eaque provident, ex error fugit impedit laboriosam autem mollitia facilis quidem vero quisquam eveniet veniam delectus?
                Unde minima iste illum sapiente, error possimus atque. Ipsum porro ut adipisci sint aspernatur debitis. Odio accusantium suscipit voluptas atque.
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <!-- Our team section -->
                <h2>Our team</h2>
                <!-- Description of the team and its dedication to basketball -->
                Our team consists of basketball experts, writers, and enthusiasts who share a common love for the sport. We are committed to delivering high-quality content and fostering a vibrant community of basketball fans.
                <!-- Lorem ipsum placeholder text -->
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsam et deserunt quaerat minus eaque provident, ex error fugit impedit laboriosam autem mollitia facilis quidem vero quisquam eveniet veniam delectus? Unde minima iste illum sapiente, error possimus atque. Ipsum porro ut adipisci sint aspernatur debitis.
                Odio accusantium suscipit voluptas atque.
            </div>
        </div>
        <div class="row  my-4" id="second">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <!-- What we offer section -->
                <h2 class="text-center">What we offer</h2>
                <p>At our basketball website, you can find a wide range of features and resources, including:</p>
                <ul>
                    <!-- List of offerings -->
                    <li>News and updates on your favorite teams and players.</li>
                    <li>In-depth analysis of basketball games and strategies.</li>
                    <li>Tutorials and training tips to improve your skills.</li>
                    <li>A community forum to connect with fellow basketball enthusiasts.</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <!-- Our values section -->
                <h2 class="text-center">Our values</h2>
                <p>Our website is built on a foundation of values that include:</p>
                <ul>
                    <!-- List of values -->
                    <li>Passion for the game of basketball.</li>
                    <li>Integrity and honesty in our content.</li>
                    <li>Community and inclusivity for all basketball fans.</li>
                    <li>Continuous learning and improvement.</li>
                </ul>
            </div>
        </div>
        <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <!-- Our mission section -->
            <h2>Our mission</h2>
            <div>
                Our mission is to promote the love of basketball and provide a valuable resource for players, coaches, and fans. We believe that basketball is more than just a game; it's a way of life that brings people together and inspires them to achieve their goals.
                <!-- Lorem ipsum placeholder text -->
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, corporis. Exercitationem explicabo nemo, in velit quod mollitia deleniti. Accusantium iusto ipsam voluptatem. Eveniet voluptate error sapiente quasi atque est, libero dolor saepe hic nam veritatis vel necessitatibus recusandae culpa temporibus eum. Sequi, at ipsum nam quia illo explicabo maiores ullam, ea corporis soluta temporibus totam ad quam magni obcaecati. Fugit dicta eveniet accusamus tempore dolore? Vero dolor tenetur dolorum veniam in consectetur fugit voluptate ullam illum, quod ducimus provident doloribus fugiat harum maxime adipisci consequatur ut labore veritatis nesciunt aspernatur nihil id! Delectus asperiores et id similique.
                Provident, quasi laboriosam.
            </div>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- Partnerships section -->
        <h2 class="my-3">Partnerships</h2>
        <div>
            We are proud to partner with various basketball organizations, including local teams, youth programs, and sports equipment suppliers. These partnerships enable us to provide exclusive content and benefits to our audience.
            <!-- Lorem ipsum placeholder text -->
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, corporis. Exercitationem explicabo nemo, in velit quod mollitia deleniti. Accusantium iusto ipsam voluptatem. Eveniet voluptate error sapiente quasi atque est, libero dolor saepe hic nam veritatis vel necessitatibus recusandae culpa temporibus eum. Sequi, at ipsum nam quia illo explicabo maiores ullam, ea corporis soluta temporibus totam ad quam magni obcaecati. Fugit dicta eveniet accusamus tempore dolore? Vero dolor tenetur dolorum veniam in consectetur fugit voluptate ullam illum, quod ducimus provident doloribus fugiat harum maxime adipisci consequatur ut labore veritatis nesciunt aspernatur nihil id! Delectus asperiores et id similique.
            Provident, quasi laboriosam.
        </div>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- Connect with us on social media section -->
        <h2 class="my-3">Connect with us on social media</h2>
        <p>Stay updated with the latest basketball news, articles, and discussions by following us on social media:</p>

        <!-- Social media icons with links -->
        <a href="https://facebook.com/nba">	<i class='fab fa-facebook mx-3' style='font-size:30px' id="jump"></i></a>
        <a href="https://twitter.com/NBA">	<i class='fab fa-twitter mx-3' style='font-size: 30px' id="jump"></i></a>
        <a href="https://instagram.com/nba/?hl=en">	<i class='fab fa-instagram mx-3' style='font-size: 30px' id="jump"></i></a>
        <a href="https://youtube.com/user/NBA">	<i class='fab fa-youtube mx-3' style='font-size: 30px' id="jump"></i></a>

    </section>
    <section class="my-2 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <span class="display-6 text-secondary">Download our apps on </span>
        <!-- App download buttons with links -->
        <button class="btn btn-outline-success">
            <a href="https://play.google.com/store/apps/details?id=com.nbaimd.gametime.nba2011&pcampaignid=web_share">
                <i class="fab fa-android fa-bounce ml-5" style="font-size: 30px; color: #3DDC84;"></i>
            </a>
            <span style="font-weight: bold;">Playstore</span>
        </button>
        <button class="btn btn-outline-info">
            <a href="https://apps.apple.com/bg/app/nba-live-games-scores/id484672289">
                <i class="fab fa-apple fa-bounce ml-5" style="font-size: 30px; color: #fff;"></i>
            </a>
            <span style="font-weight: bold;">Appstore</span>
        </button>
    </section>
    </div>
</body>
