
<link href="~/Content/Site.css" rel="stylesheet" />
<style>
    /* Styling for the body */
    body {
        font-family: Arial, sans-serif;
        color: black;
        background-image: url('../../content/img/home.jpg'); /* Background image */
        background-repeat: no-repeat;
        background-size: cover;
      
    }

    /* Styling for navigation links */
    .nav-link {
        color: black;
    }
</style>
<body >
    <div id="first" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <header >
            <!-- Page header with title -->
            <h1>Welcome to National Basketball Association</h1>
        </header>
        <div class="container-fluid">
            <!-- Main content container -->
            <div class="intro">
                <!-- Introduction text -->
                <p>Experience the excitement of basketball like never before. Stay updated with the latest news, scores, <br>and highlights from the world of basketball.</p>
            </div>
            <div class="featured-content">
                <!-- Featured content section -->
                <div class="featured-content-item">
                    <!-- Featured content item 1 - News & Updates -->
                    <h2>News & Updates</h2>
                    <p>
                        Get the latest news, articles, and updates on your favorite basketball teams and players.
                    </p>
                </div>
                <div class="featured-content-item">
                    <!-- Featured content item 2 - Live Scores -->
                    <h2>Live Scores</h2>
                    <p>Follow live scores and game stats for ongoing basketball matches and tournaments.</p>
                </div>
                <div class="featured-content-item">
                    <!-- Featured content item 3 - Video Highlights -->
                    <h2>Video Highlights</h2>
                    <p>Watch thrilling video highlights of the most memorable moments in basketball history.</p>
                </div>
            </div>
        </div>
        </div>
</body>
